.catalog {
  &__title {
    padding: 10px 0 16px 0;
    border-bottom: 1px solid #c5c5c580;
    font-size: 30px;
    font-weight: 700
  }

  &__nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__list {
    padding: 32px 0;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 -25px;
  }

  &__item {
    padding: 15px 0px;
  }
}
