.cartCounter {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 20px;
  border: 1px solid #c5c5c580;
  padding: 3px 15px;
  border-radius: 60px;
  cursor: pointer;

  &__counter {
    font-size: 18px;
    padding: 0px 15px 0 20px;
  }

  &__kart {
    position: relative;
  }

  &__orderIndicator {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #e31e25;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    transform: translateX(10%) translateY(0%);
  }
}
