.cartCounter {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 50px;
    border: 1px solid #C5C5C580;
    padding: 3px;
    border-radius: 60px;

    &__counter{
        font-size: 18px;
        padding: 0px 15px 0 20px;
    }
}