.close {
  width: 24px;
  height: 24px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity ease 0.5s;
  position: absolute;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 1;
  }
}
