.loggedInButtonMenu{
    width: 100%;
}

.close {
    display: none;
}

.open{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    // border-top: 1px solid #c5c5c578;
    background-color: #F2EDE1;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: .2);
    z-index: 999;
}