.arrowPrev {
    border: solid #3D69B7;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    font-size: 0px !important;
    transform: rotate(135deg);
    cursor: pointer;
    opacity: 1;
    transition: box-shadow linear 0.1s;
  
  }
  
  .wrapper {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;align-items: center;
    z-index: 99;

  }