.productItem {

    &__wrapper, &__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }


    &__leftSide,
    &__rightSide {
        display: flex;
        align-items: center;
    }

    &__preceWrapper {
        padding-right: 5px;
    }

    &__itemName {
        color: #434242;
    }

    &__itemNumber {
        color: #757575;
    }

    &__prece {
        color: #757575;
    }

}