.radioGroup {
    border: none;
    display: flex;
    justify-content: space-between;
    min-width: 230px;
}

.radioGroupApplyForJob {
    border: none;
    display: flex;
    align-items: center;
}