.navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #F2EDE1;
  z-index: 10;
  padding-bottom: 22px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
