.productCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.onlyButton {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.row {
  &:first-child {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  &:last-child {
    display: flex;
    align-items: center;
  }
}

.button {
  width: 29px;
  height: 29px;
  background: #20598e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #3D69B7;
  }

  &:active {
    background-color: #1B4E7D;
  }
}
