.contact{

    display: flex;
    justify-content: space-between;

    &__title{
        color: #434242;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 16px;
    }

    &__address{
        padding-bottom: 20px;
    }

    &__phone{
        padding-bottom: 32px;
    }

    &__workingHours{
        padding-bottom: 32px;
    }

    &__buttonsWrapper{
        display: flex;
        flex-direction: column;
        width: max-content;
        align-items: start;
    }
}