@font-face {
    font-family: "PTSans-Bold";
    src: url("../../assests/fonts/pt-sans/PTSans-Bold.ttf");
}


.contact{

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &__title{
        color: #434242;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 16px;
        font-family: "PTSans-Bold";
    }

    &__address{
        padding-bottom: 20px;
    }

    &__phone{
        padding-bottom: 32px;
    }

    &__workingHours{
        padding-bottom: 20px;
    }

    &__buttonsWrapper{
        display: flex;
        flex-direction: column;
        width: max-content;
        align-items: start;
    }

    &__leftSide{
        margin-left: 20px;
    }

    &__rightSide{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .contact{
        flex-direction: column;

        &__leftSide{
            margin-bottom: 20px;
        }
    }
}