.modal {
  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    top: 30px;
    right: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 20px;
      height: 3px;
      background: #000;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}
