.reCheckboxWrapper span span{
    background-color: #3D84B7 !important;
    border-color: #3D84B7 !important;

    &::after {
        content: "" !important;
        
        height: 20px !important;
        
    }
}