.orderPaymentByBonuses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 8px 0 16px 0;

    &__content{
        color: #2C9B37;
    }
}