.close{
    display: none;
}

.open{
    display: block;
}

.infoWrapper{
    position: absolute;
}
.info {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &__detail {
        position: absolute;
        width: 315px;
        background: #484848;
        color: #F3F1ED;
        left: 30px;
        top: 100%;
        transform: translateY(-40%);
        padding: 24px 30px;
        border-radius: 20px;
        opacity: .95;
        z-index: 9999;

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background: #484848;
            opacity: .95;
            left: -5px;
            top: 24%;
            transform: translateY(-40%);
            transform: rotateZ(45deg);
            z-index: 9;
        }
    }
}