@font-face {
    font-family: "PTSans-Bold";
    src: url(../../../assests/fonts/pt-sans/PTSans-Bold.ttf);
}

.additionalPage{
    &__contscts{
        &__header{
            border-bottom: 1px solid #C5C5C533;
            padding-bottom: 2px;
            display: flex;
            justify-content: space-between;

            &__title{
                font-size: 30px;
                color: #434242;
                font-family: "PTSans-Bold";
            }

            &__wrapper{
                display: flex;
                align-items: center;
            }
        }
    }
}