.additionalPage{
    &__contscts{
        &__header{
            border-bottom: 1px solid #C5C5C533;
            padding-bottom: 16px;
            display: flex;
            justify-content: space-between;

            &__title{
                font-size: 30px;
                color: #434242;
            }

            &__wrapper{
                display: flex;
                align-items: center;
            }
        }
    }
}