@font-face {
  font-family: "PT-SANS";
  src: url("../assests/fonts/pt-sans/PTSans-Regular.ttf");
}
* {
  font-family: "PT-SANS";
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  color: #434242;
  font-style: normal;
  font-size: 16px;
}
html,
body,
#__next,
.App {
  width: 100%;
  min-height: 100vh;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}
button {
  background: transparent;
  border: none;
  user-select: none;
}
a {
  color: black;
  text-decoration: none;
}
label {
  cursor: pointer;
}

///Slick slider

.slide-wrapper {
  padding-bottom: 30px;
}
.slick-slider-bunner {
  padding-bottom: 30px;
  &__item {
    display: flex !important;
    justify-content: center !important;
    padding: 0 5px;
    box-sizing: border-box !important;

    &--img {
      opacity: 0.7;
      padding: 10px 0 !important;
      
    }
  }
}
.slick-center .slick-slider-bunner__item--img {
  opacity: 1 !important;
  height: 390px !important;
  width: 1120px !important;
  min-width: 100%;
  min-width: 100%;
  min-height: auto;
  padding: 0 !important;
}
.slick-track {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 5px !important;
}
.slick-dots {
  bottom: 0 !important;
  & li {
    margin: 0 2px !important;
  }
  & li button::before {
    font-size: 9px !important;
    color: #3d84b7 !important;
  }
}
.slick-list {
  overflow: visible !important;
}



.rc-checkbox-inner {
  width: 16px !important;
  height: 16px !important;
  &:after {
    border: 1px solid #ffffff !important;
    border-top: 0 !important;
    border-left: 0 !important;
  }
}

//ScrollBar
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #E4EAEF;
  border-radius: 4px;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #3D84B7;
  border-radius: 4px;
  // box-shadow: inset 1px 1px 10px #f3e5c3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

//Modal
.ReactModal__Overlay--after-open {
  z-index: 999 !important;
}

//rc-checkbox
.rc-checkbox-checked .rc-checkbox-inner {
  background-color: #3d84b7 !important;
  border-color: #3d84b7 !important;
}
.rc-checkbox:hover .rc-checkbox-inner,
.rc-checkbox-input:focus + .rc-checkbox-inner {
  border-color: #3d84b7 !important;
}
