.ordering {
  display: flex;

  & > section {
    flex: 1;
    padding-top: 32px;
  }

  &__rightSide {
    margin-left: 20%;

    &__bonusAccrual {
      padding-bottom: 16px;
      display: flex;
      justify-content: center;
    }
  }

  &__flexWrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__imageWrapper{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: start;

      & > span {
        margin: 0 5px !important;
      }
  }

  &__spaceBetween {
    justify-content: space-between;
  }

  &__detailsPosttitle {
    color: #757575;
    font-size: 16px;
    font-weight: normal;
  }

  &__detailsPosttitle {
    padding-bottom: 8px;
  }

  &__payPosttitle {
    font-size: 11px;
    color: #757575;
    font-weight: normal;
    padding-bottom: 16px;
  }

  &__checkboxWrapper {
    padding-bottom: 16px;
  }

  &__label {
    display: flex;
    align-items: center;
    color: #434242;
    position: relative;
  }

  &__cardInfWrapper {
    width: 100%;
  }

  &__imageWrapper{
      display: flex;
  }

  &__padding8 {
    padding-bottom: 8px;
  }

  &__padding24 {
    padding-bottom: 24px;
  }

  &__width100{
      width: 100%;
  }

  &__width50{
      width: 50%;
  }
}
