.privateOffice {

    padding-top: 28px;
    display: flex;

    &__leftSide {
        flex: 1;
        padding-bottom: 16px;
        border-bottom: 1px solid #D8D4CE;
    }

    &__rightSide {
        padding-left: 7rem;
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__contentWrapper{
            width: 100%;
        }
    }

    &__cardWrapper {
        display: flex;
        align-items: flex-end;
        padding: 16px 0 8px 0;
        position: relative;
    }

    &__posttitle {
        width: 300px;
        color: #757575;
    }

    &__wrapper {

        margin-bottom: 32px;

        &__button {
            position: relative;
            width: max-content;
            cursor: pointer;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                background: url("../assests/img/log-out.svg") center no-repeat;
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}