.chooseVolume{
    width: 100%;
    position: relative;
    
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F6F6F4;
        border-radius: 20px;
        padding: 2px;
        position: relative;
    }

    &__item{
        width: 100%;
        padding: 8px 0;
        text-align: center;
        cursor: pointer;
        user-select: none;
        z-index: 99;
    }

    &__toggleItem{
        border: 1px solid #DFD8D8; 
        background: transparent;
        position: absolute;  
        width: 33%;
        height: 100%;
        border-radius: 50px;
        user-select: none;
        transition: all linear .2s;
        background-color: white;
        z-index: 9;
        box-sizing: border-box;
    }
}